// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$gray: #0E0000;
$light-gray: #FFFFFF;

$darkgreen: #164A41;
$green: #4D774E;
$lightgreen: #9DC88D;
$orange: #F1B24A;

