<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="sticky">
  <div>
  <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>
  <%= link_to "lamaIsLife", root_path, class: "btn no-border" %>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto ">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Log out", destroy_user_session_path, class: "btn btn-primary rounded-btn", method: :delete %>
        </li>
      <% else %>
        <li class="nav-item active">
           <button type="button" class="btn btn-outline-primary rounded-btn" data-toggle="modal" data-target="#logIn">
            Log in
          </button>
        </li>
        <li class="nav-item active">
            <button type="button" class="btn btn-primary rounded-btn" data-toggle="modal" data-target="#signUp">
            Sign up
          </button>
        </li>
      <% end %>
    </ul>
  </div>
</div>





