<div class="banner">
  <div class="container home-container">
    <h1><span id="banner-typed-text"></span></h1>
    <!-- <p>Lama is life !</p> -->
    <%= link_to "Allez, viens!", recipes_path, class: "btn btn-lightgreen btn-lg rounded-btn" %>
  </div>
</div>
