.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.no-border {
  border-color: white;
}

.rounded-btn {
  border-radius: 6px;
}

.navbar-logo {
  height: 50px;
}

.nav-btn {
  margin-right: 50px;
}
